spring:
  profiles:
    default: local

  datasource:
    url: jdbc:mysql://localhost:3306/post
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1234


  jpa:
    hibernate:
      ddl-auto: create
    show-sql: true
    properties:
      hibernate:
        format_sql: true

#MyBatis
mybatis:
  type-aliases-package: com.post.domain
  configuration:
    map-underscore-to-camel-case: true

logging:
  level:
    com.com.post.repository.mybatis: trace